*{
    font-family: 'Dosis', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    color:rgb(255, 255, 255);
    background: linear-gradient(320deg, rgba(0,0,255,1) 0%, rgba(0,1,120,1) 0%, rgba(0,2,55,1) 36%, rgba(0,1,31,1) 55%, rgba(0,1,16,1) 80%, rgba(0,1,16,1) 80%, rgba(0,0,0,1) 100%);
    font-size:20px;
    font-family: 'Dosis', sans-serif;
    margin-left:-3px;
}
nav{
    color:white;
    position:absolute;
    margin-left:1400px;
    padding-top:20px;
    padding-bottom: 20px;
    border-radius:7px;
    margin-top:50px;
}
.logo img{
    position: absolute;
    margin-top:10px;
    border-radius:4px;
    margin-left:-1400px;
    height: 70px;
    width:100px;
}
.logo p{
    position: absolute;
    margin-left: -1280px;
}
nav ul li{
    padding-top:10px;
    padding-left: 10px;;
    margin-left:10px;
    list-style:none;
    display: inline-block;
    color:white;
}
nav ul li a {
    text-decoration:none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
  a:after {    
    
    background: none repeat scroll 0 0 transparent;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%; 
    left: 0; 
    
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
.top{
    color:white;
    position: absolute;
    border-bottom:inset;
    border-radius:3px;
    padding-bottom:30px;
    border-color:rgb(255, 255, 255);
    width:1900px;
}
.top p{
    font-weight: 800;
    padding-top:10px;
}
.top input{
    position: absolute;
    margin-left:1350px;
    margin-top:-43px;
    height:30px;
    width:200px;
    border-radius: 20px;
    padding-left: 10px;
    border:none;
}
.top button{
    
    position: absolute;
    margin-left:1565px;
    margin-top:-50px;
    height: 40px;
    width:60px;
    border:none;
    background: transparent;
}
.top button img{
    position: absolute;
    margin-top:-13px;
    margin-left:-15px;
    height: 26px;
    width:26px;
   
}
.top button:hover{
    cursor:pointer;
    transform: translateX(5px);
}
.top button img:hover{
    cursor:pointer;
}
.top .side-1{
    padding-right: 10px;
    margin-left:1530px;
    position: relative;
    margin-top:-20px;
    display: flex;
}
.top .side-1 img{
    display: inline;
    position: relative;
    height: 20px;
    width:20px;
    margin-top:-16px;
    padding-left:140px;
}
.top .side-1 p{
    padding-left:20px;
    margin-top:2px;
    margin-left:150px;
    position: absolute;
    margin-top:-30px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.container-1 h1{
    position:absolute;
    margin-top:400px;
    margin-left:100px;
    font-size:50px;
    font-weight: 500;
}
.container-1 p{
    position: absolute;
    margin-top:500px;
    margin-left:100px;
    font-size:50px;
    font-weight: 800;
}
.container-1 h3{
    position: absolute;
    margin-top:600px;
    margin-left:100px;
}
/* .container-1 button{
    color:white;
    cursor: pointer;
    margin-top:670px;
    position:absolute;
    margin-left:120px;
    border-radius: 5px;
    border:none;
    height: 50px;
    width:150px;
    font-size:26px;
    font-weight: 800;
    background-color: rgb(23, 120, 168);
}
.container-1 button:hover{
    border-style: outset;
    border-width: 1px;
    border-color:white;
    background-color: transparent;
} */

.btn1 {
    margin-top:700px;
    margin-left:150px;
    position: absolute;
    border: solid 1px rgba(0, 214, 252, 0.3);
    background: none;
    color: rgba(0, 214, 252, 0.5);
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1.8px;
    width: 200px;
    height: 70px;
    padding: 0;
    transition: all 0.25s ease;
    outline: none;
  }
  .btn1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 60px;
    height: 1px;
    transform: translateY(-1px);
    background: #00d6fc;
    transition: all 0.25s ease;
  }
  .btn1:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 60px;
    height: 1px;
    transform: translateY(1px);
    background: #00d6fc;
    transition: all 0.25s ease;
  }
  .btn1:hover {
    box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
    color: #00d6fc;
    text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
  }
  .btn1:hover.btn1:before {
    left: 0;
    width: 20px;
  }
  .btn1:hover.btn1:after {
    right: 0;
    width: 20px;
  }
  .btn1:hover .span-1:before {
    bottom: 0;
  }
  .btn1:hover .span-1:after {
    top: 0;
  }
  .span-1:before {
    content: "";
    position: absolute;
    bottom: 30%;
    right: 0;
    width: 1px;
    height: 20px;
    transform: translateX(1px);
    background: #00d6fc;
    transition: all 0.25s ease;
  }
  .span-1:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    width: 1px;
    height: 20px;
    transform: translateX(-1px);
    background: #00d6fc;
    transition: all 0.25s ease;
  }
  .btn1 a{
    text-decoration: none;
    font-size:20px;
    color:#00d6fc;

  }
  .btn1 a:hover::after{
    text-decoration: none;
    display: none;
  }
.log i{
    position:absolute;
    margin-top:830px;
    margin-left:150px;
    border-right-style: outset;
    border-width:1px;
    padding-top:25px;
    padding-bottom:25px;
    width:50px;
    border-color:white;
}
.log p{
    position: absolute;
    margin-top: 820px;
    margin-left:215px;
}
.log-2 i{
    position:absolute;
    margin-top:800px;
    margin-left:780px;
    border-right-style: outset;
    border-width:1px;
    padding-top:60px;
    padding-bottom:60px;
    width:50px;
    border-color:white;
}
.log-2 p{
    position: absolute;
    margin-top: 800px;
    margin-left:855px;
}
.log-3 i{
    position:absolute;
    margin-top:800px;
    margin-left:1350px;
    border-right-style: outset;
    border-width:1px;
    padding-top:60px;
    padding-bottom:60px;
    width:60px;
    border-color:white;
}
.log-3 p{
    position: absolute;
    margin-top: 800px;
    margin-left:1435px;
}
/* .container ->2 */
.container-2{
    position: relative;
    background: linear-gradient(157deg, rgba(0,0,0,1) 0%, rgba(4,14,70,1) 69%, rgba(8,28,140,1) 100%, rgba(14,50,251,1) 100%);
    padding: 20px 840px 600px 50px; 
    position: absolute;
    margin-top:1000px;
    margin-left:-10px;
    height: 200px;;
    width:1020px;
}
.container-2 .box h2{
    width:250px;
    position: absolute;
    margin-left:-10px;
    padding: 20px 160px 600px 50px; 
    
}
.container-2 .box-1,.container-2 .box-2,.container-2 .box-3{
    position:absolute;
    box-shadow: rgba(41, 139, 161, 0.56) 0px 22px 70px 4px;
    border-color:rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin-left:100px;
    margin-top:150px;
    padding:50px 100px 50px 100px; 
    color:black;
    transition: transform .2s;
}
.container-2 .box-2{
    margin-left:700px;
    padding-bottom:54px;
}
.container-2 .box-3{
    margin-left:1320px;
}
.container-2 .box-1 img,.container-2 .box-2 img,.container-2 .box-3 img{
    margin-top:30px;
    position: relative;
    height: 200px;
    width:200px;
}
.container-2 .box-1 h1,.container-2 .box-2 h1,.container-2 .box-3 h1{
    font-size:30px;
    text-align: center;
}
.container-2 .box-1 p,.container-2 .box-2 p,.container-2 .box-3 p{
    font-size:22px;
}
.container-2 .box-1 button,.container-2 .box-2 button,.container-2 .box-3 button{
    border:none;
    font-size:22px;
    margin-left:20px;
    background: transparent;
    text-align: center;
    height: 50px;
    width:150px;
}
.container-2 .box-2 button{
    margin-top:24px;
}

.container-2 .box-1 button a.xeon,.container-2 .box-2 button a.xeon,.container-2 .box-3 button a.xeon{
    color:black;
    text-decoration: none;
    border: none;
    position: relative;
}
.container-2 .box-1:hover,.container-2 .box-2:hover,.container-2 .box-3:hover{
    transform: scale(1.2);
}
/* .explore */
.explore{
    padding:900px 1110px 100px 800px;
    background: linear-gradient(0deg, rgba(4,0,255,1) 0%, rgba(2,0,150,1) 0%, rgba(0,9,255,1) 0%, rgba(0,7,186,1) 0%, rgba(0,2,65,1) 37%, rgba(0,2,51,1) 100%, rgba(0,0,0,0.9556197478991597) 100%);
    position: absolute;
    border-color: #fff;
    margin-top:2720px;
    margin-left:-10px;
}

.explore h1{
    margin-top:-800px;
    font-size:50px;
    margin-left:-600px;
    color:white;
    position: absolute;
}
.explore p{
    position: absolute;
    color:white;
    margin-top:-670px;
    font-size:30px;
    margin-left:-600px;
}
.explore button {
    height: 100px;
    position:absolute;
    margin-top:-200px;
    margin-left:-600px;
    background: none;
    border:outset;
}
.explore button a.shop-btn-2{
    font-size:30px;
    position: relative;
    text-decoration: none;
}
.explore h3{
    position:absolute;
    margin-left:-600px;
    font-size:32px;
    margin-top:-600px;
}
.explore .li-2{
    position:absolute;
    margin-top:-570px;
    padding-top:40px;
    margin-left:-500px;
}
.explore .li-2 li{
    font-size:30px;
    padding-top: 10px;;
}

/* Container -> 3 */
.container-3{
    position: relative;
    background: linear-gradient(341deg, rgba(0,0,0,1) 0%, rgba(4,14,70,1) 69%, rgba(8,28,140,1) 100%, rgba(14,50,251,1) 100%);
    padding: 20px 840px 600px 50px; 
    position: absolute;
    margin-top:1819px;
    margin-left:-10px;
    height: 300px;;
    width:1020px;
}

.container-3 button{
    height: 50px;
    width:100px;
    margin-top:200px;
    background: none;
    border:none;
}
.container-3 i{
    position: absolute;
    cursor: pointer;
}
.container-3 .sell-1{
    position: absolute;
    margin-top:-120px;
    margin-left:200px;
    padding:60px 80px 200px 120px ;
    background-color: white;;
}
.container-3 .sell-2{
    position: absolute;
    margin-top:-120px;
    margin-left:800px;
    padding:60px 80px 226Npx 120px ;
    background-color: white;
}
.container-3 .sell-1 img,.container-3 .sell-2 img{
    margin-left:30px;
    height: 150px;
    width:150px
}
.container-3 .sell-1 h1{
   margin-left:30px;
    color:black;
}
.container-3 .sell-2 h1{
    font-size:30px;
    margin-left:30px;
    color:black;
}
.container-3 .sell-1 p,.container-3 .sell-2 p{
    margin-top:20px;
    margin-left:-15px;
    color:black;
    font-size: 26px;
}
.container-2 .box-1 img,.container-2 .box-2 img,.container-2 .box-3 img,.container-3 .sell-1 img ,.container-3 .sell-2 img{
    --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
    --m:
      left   var(--_i,0%) top    var(--_g),
      bottom var(--_i,0%) left   var(--_g),
      top    var(--_i,0%) right  var(--_g),
      right  var(--_i,0%) bottom var(--_g);
    -webkit-mask: var(--m);
            mask: var(--m);
    filter: grayscale();
    transition: .3s linear;
    cursor: pointer;
  }
  .container-2 .box-1 img:hover,.container-2 .box-2 img:hover,.container-2 .box-3 img:hover,.container-3 .sell-1 img:hover ,.container-3 .sell-2 img:hover{
    --_i: 10%;
    filter: grayscale(0);
  }
  
  .container-3 h1.heading-3{
    position:absolute;
    margin-top:20px;
    margin-left: 160px;
    cursor:pointer;
  }
  .container-3 h1.heading-3::after{
    content:"";
  position:absolute;
  width:100%;
  height:4px;
  background:white;
  bottom:-5px;
  left:0;
  transform:scale(0,1);
  transform-origin:left;
  transition:transform 0.4s;
  }
.container-3 h1.heading-3:hover::after{
    transform:scale(1,1);
  transform-origin:right;
}

figure.fig-1 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Raleway', Arial, sans-serif;
    position: absolute;
    overflow: hidden;
    margin: 10px;
    margin-top:-600px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
    margin-left:500px;
  }
  figure.fig-1 * {
    
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  figure.fig-1 img {
    
    max-width: 100%;
    vertical-align: top;
  }
  figure.fig-1 figcaption {
    top: 50%;
    left: 20px;
    right: 20px;
    position: absolute;
    opacity: 0;
    z-index: 1;
  }
  figure.fig-1 h2,
  figure.fig-1 h4 {
    margin: 0;
  }
  figure.fig-1 h2 {
    font-weight: 600;
  }
  figure.fig-1 h4 {
    font-weight: 400;
    text-transform: uppercase;
  }
  figure.fig-1 i {
    font-size: 32px;
  }
  figure.fig-1:after {
    background-color: #ffffff;
    position: absolute;
    content: "";
    display: block;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
  }
  figure.fig-1 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  figure.fig-1:hover figcaption,
  figure.fig-1.hover figcaption {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  figure.fig-1:hover:after,
  figure.fig-1.hover:after {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.9;
  }

.boxbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
  .box4 {
    background-color: rgb(224, 224, 224);
}
.button2 {
    width: 20vw;
    aspect-ratio: 10/2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    margin-top:-350px;
    margin-left:-500px;
    color:white;
}
.btn5 {
    background: rgb(0, 10, 116);
    transition: .5s ease;
}
.btn5:hover {
    background: none;
    border: 2px solid rgb(56, 59, 255);
    transform: translateY(-10%);
    box-shadow: 0px 0px 20px rgb(0, 21, 255),
                inset 0px 0px 20px rgb(0, 51, 255);
    color: rgb(2, 8, 173);
    text-shadow: 0px 0px 5px rgb(0, 4, 255);
}
.btn5::before {
    content: '';
    height: 20px;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 8, 255);
    bottom: -50px;
    transform: perspective(5rem) rotateX(50deg);
    filter: blur(20px);
    display: none;
    transition: .5s ease;
}
.btn5 a{
    text-decoration: none;
    position: absolute;
    color:white;
}
.btn5:hover:before {
    display: block;
}

/* Image Slider - container->3 */
  
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin-left:-50px;
   margin-top:-150px;
   width:1850px;
   
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    margin-bottom: -50px;
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width:1700px;
    height: 780px;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    position: relative;
    flex: 0 0 auto;
    width: 250px;
    height: 500px;
    margin-right: 40px;
    border:outset;
    padding:50px 50px 50px 50px; 
    border:none;
    background: linear-gradient(302deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgba(0,9,255,1) 0%, rgba(0,4,109,1) 0%, rgba(0,2,65,1) 11%, rgba(0,3,91,1) 40%, rgba(0,7,186,1) 100%, rgba(0,0,0,0.9556197478991597) 100%, rgba(0,2,51,1) 100%);
    transition: transform 0.2s;
    margin-top:50px;
  }
  .product-card:hover{
    transform: scale(1.2);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .product-image {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: rgb(0, 25, 248);
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(360deg);
}

.nxt-btn {
  right: 0;
  transform: rotate(180deg);
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* .container-4 */
.container-4{
    position: relative;
    background: linear-gradient(341deg, rgba(0,0,0,1) 0%, rgba(4,14,70,1) 69%, rgba(8,28,140,1) 100%, rgba(14,50,251,1) 100%);
    padding: 20px 840px 600px 50px; 
    position: absolute;
    margin-top:3620px;
    margin-left:-10px;
    height: 680px;
    width:1020px;
}
/* .table-1{
    border-style: outset;
    grid: 6px;
} */
.table-1 {
    height: 300px;
    width:500px;
    position:relative;
    display:flex;
}
.table-1 img{
  padding-right: 20px;
}
.table-1 img.micron{
  margin-left: 100px;
}
.table-1 .nvidia img{
    position: absolute;
    margin-left:-1180px;
    height: 140px;
    margin-top:400px;   
}
/* footer */
footer{
  position:relative;
  margin-top:450px;
  border-top:solid;
  border-width:1px;
  padding-top:50px;
  width:1800px;
  margin-bottom:50px;

  
}
footer img{
  height: 70px;
  width:100px;
  position:relative;
}
footer .tab{
  display: flex;
  position: relative;
  margin-left:280px;
  padding-left:100px;
  margin-top:-60px;
}
footer h1{
  margin-left:120px;
  margin-top:-80px;
}
footer .tab a{
  display: block;
  text-decoration: none;
  position: relative;
  padding-top:5px;
  color:white;
  margin-left:-75px;
}
footer .tab .company-1 a{
  margin-left:-100px;
}
footer .tab a:hover{
  text-decoration: none;
  position: relative;
  color:grey;
}
footer .tab a::after{
  position: absolute;
  text-decoration: none;
  display: none;
}
footer .tab .contact-1 p{
  margin-top:-3px;
  margin-left:-150px;
}
footer .tab .follow-1{
  margin-left:-50px;
}
/* footer .tab-2 */
footer .tab-2{
 margin-top:25px;
  display:block;
  border:inherit;
  border-top-width: 1px;
  padding-top:15px;
  border-bottom: 1px solid; 
  padding-bottom:25px;
  
}
footer .tab-2 a{
  text-decoration:none;
  padding-left:100px;
  margin-right:140px;
  color:white;
}
footer .tab-2 a::after{
  display: none;
}
footer p{
  text-align: center;
 
}
/* Product Page */
body.product{
  background: linear-gradient(320deg, rgba(0,0,255,1) 0%, rgba(0,1,120,1) 0%, rgba(0,2,55,1) 36%, rgba(0,1,31,1) 55%, rgba(0,1,16,1) 80%, rgba(0,1,16,1) 80%, rgba(0,0,0,1) 100%);
  margin-bottom:500px;
  height: 5000px;
}
nav.nav2{
  margin-top:180px;
  filter: blur(1px);
  
}
nav.nav2:hover{
  filter:none;
  transition:filter 1s;
}

/* About Page */

nav.nav3{
  margin-top:180px;
}

/* Slideshow for Products.html */

.content-width {
  width: 50%;
  height:2000px;
  margin: 0 auto;
  margin-left:380px;
  margin-top:-200px;
}

.slideshow {
  position: relative;
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slideshow-items {
  margin-top:600px;
  position: relative;
  width: 100%;
  height: 300px;
}

.item {
  position: absolute;
  width: 100%;
  height: auto;
}

.item-image-container {
  position: relative;
  width: 42%;
}

.item-image-container::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  height: 101%;
  opacity: 0;
  z-index: 1;
}

.item-image {
  position: relative;
  width: 1200px;
  height: 650px;
  opacity: 0;
  display: block;
  transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  opacity: 1;
}

.item.active .item-image-container::before {
  opacity: .8;
}

.item-description {
  position: absolute;
  top: 682px;
  right: -90px;
  width: 60%;
  padding-right: 4%;
  line-height: 1.8;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  position: absolute;
  top: -70px;
  left: 470px;
  z-index: 100;
  width: 600px;
}

.item-header-2{
  position:absolute;
}
.item-header .vertical-part {
  margin: 0 -4px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: auto;
  font-size:30px;
  color: #fff;
}

.vertical-part {
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.vertical-part b {
  display: inline-block;
  transform: translateY(100%);
}

.item-header .vertical-part b {
  transition: .5s;
}

.item-description .vertical-part b {
  transition: .21s;
}

.item.active .item-header .vertical-part b {
  transform: translateY(0);
}

.item.active .item-description .vertical-part b {
  transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  position: absolute;
  text-align: right;
  z-index: 1000;
  margin-left:480px;
  margin-top:2100px;
}

.controls ul {
  list-style: none;
}

.controls ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background:#3737d6;;
  cursor: pointer;
}

.controls ul li.active {
  background:#ffffff;;
}
body.product p{
  font-size:60px;
}
/* Products for product.html */
body .our-products{
  margin-top:-800px;
  text-align: center;
}
.sidebar{
  position: absolute;
  padding : 50px 25px 50px 50px;
  background-color: white;
  color:black;
  margin-left:60px;
}
.sidebar label{
  display: block;
  margin-top:10px;
  font-size:24px;
}
.sidebar input{
  width:280px;
  font-size:20px;
  padding:2px 2px 2px 2px;
}
.sidebar select{
  width:288px;
  height: 30px;
  font-size:20px;
}

/* Radio Button */
.products section.light {
  width: 150px;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left:100px;
  margin-right:100px;
  flex-direction: row;
  
}
section::before,
section::after {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
}

section::before {
  width: 30px;
  height: 30px;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  top: 18px;
  left: 18px;
}

section::after {
  width: 42px;
  height: 42px;
  top: 11px;
  left: 11px;
}

.light {
  --primary: hsl(247, 100%, 44%);
  --other: hsl(0, 0%, 14%);
  background: hsl(0, 0%, 100%);
}

h1 {
  color: var(--other);
  padding: 8px 4px;
  border-bottom: 2px solid var(--other);
}


/* label */
section.light label {
  display: flex;
  justify-content: flex-start;
  width:50%;
  align-items: center;
  flex-wrap: nowrap;
  padding-right:20px;
  margin: 12px 0;
  cursor: pointer;
  position: relative;
}

section.light input {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.design {
  width: 16px;
  height: 16px;
  border: 1px solid var(--other);
  border-radius: 100%;
  margin-right: 16px;
  position: relative;
}

.design::before,
.design::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.design:before {
  background: var(--other);
  opacity: 0;
  transition: .3s;
}

.design::after {
  background: var(--primary);
  opacity: .4;
  transition: .6s;
}

.text {
  color: var(--other);
  font-weight: bold;
}

input:checked+.design::before {
  opacity: 1;
  transform: scale(.6);
}

input:hover+.design,
input:focus+.design {
  border: 1px solid var(--primary);
}

input:hover+.design:before,
input:focus+.design:before {
  background: var(--primary);
}

input:hover~.text {
  color: var(--primary);
}

input:focus+.design::after,
input:active+.design::after {
  opacity: .1;
  transform: scale(2.6);
}

/* Range Slider */
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:-300px;
}

.box-minmax {
  margin-top: 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #000000;
}
.box-minmax span:first-child {
  margin-left: 10px;
}

.range-slider {
  margin-top: 30vh;
}

.rs-range {
  margin-top: 29px;
  width: 600px;
  -webkit-appearance: none;
}
.rs-range:focus {
  outline: none;
}
.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;

}
.rs-range::-webkit-slider-thumb {
  
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
  
}
.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  content: "$ ";
  position: relative;
  transform-origin: center center;
  display: block;
  width: 98px;
  height: 98px;
  background: transparent;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 22px;
  box-sizing: border-box;
  border: 2px solid #000000;
  margin-top: 20px;
  margin-left: -38px;
  left: attr(value);
  color: #000000;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  
}
.rs-label::after {
  content: "$";
  display: block;
  font-size: 20px;
  letter-spacing: 0.07em;
  margin-top: -2px;
  
}
.sidebar button{
  height: 50px;
  width:100px;
  border:none;
  background-color:rgb(37, 37, 72);
  color:white;
  margin-right:50px;
  margin-top:30px;
  margin-left:45px;
  font-size:20px;
  font-weight: 600;
  transition:box-shadow 0.5s;
}
.sidebar button:hover{
  box-shadow: rgba(0, 0, 255, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* Intel Products */
.intel{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 600px;
  margin-bottom:500px;
  padding:20px 20px 20px 20px;
}
.intel h1,.ryzen h1{
  font-family: 'Josefin Sans', sans-serif;
}

.intel p,.ryzen p{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:700;
}
.intel img,.ryzen img{
  height: 200px;
  width:200px;
  margin-left:48px;
  margin-top:20px;
}

.intel button,.ryzen button{
  margin-left:15px;
  border:none;
  height:40px;
  width:130px;
  font-size: 18px;
  margin-right:0px;
  transition: background-color 0.7s;
}
.intel button:hover,.ryzen button:hover{
  cursor:pointer;
  background-color: #09008c;
  color:white;
}
.intel a,.ryzen a{
  text-decoration: none;
  position:absolute;
  margin-top:60px;
  margin-left:-200px;
  color:#09008c;
  font-size:24px;
  transition:color 0.7s;
  transition: padding 0.3s;
}
.intel a:hover,.ryzen a:hover{
  color:black;
  padding:5px 5px 5px 5px;
}
.intel h2,.ryzen h2{
  text-decoration: line-through;
}
.intel h1,.intel h2,.ryzen h1,.ryzen h2{
  display: inline;
}
.intel-1,.intel-2,.intel-3,.intel-4,.intel-5,.intel-6,.intel-7,.intel-8,.intel-9,.intel-10{
  margin-bottom:50px;
  width:300px;
  padding:40px 40px 100px 40px;
  background-color: white;
  color:black;
}

.ryzen-pro{
  position: relative;
  background-color: white;
  margin-top:-500px;
  height:500px;
  margin-left:10px;
}
.ryzen-pro h1 {
  font-size:50px;
  color:black;
  margin-left:50px;
  padding-top:50px;
}
.ryzen-pro img{
  margin-top:-120px;
  margin-left:1000px;
  height: 450px;
}
.ryzen-pro ul{
  margin-top:-300px;
  position: relative;
}
.ryzen-pro ul li{
  position: relative;
  list-style:circle;
  list-style-type: style black;
  margin-top:10px;
  margin-left:80px;
  color:black;
  font-size: 30px;
}

.ryzen{
  margin-top:50px;
  margin-left:70px;
  display: flex;
  
}

.ryzen .intel-9,.intel-10,.intel-11{
  position: relative;
  margin-bottom:50px;
  width:300px;
  padding:40px 40px 100px 40px;
  background-color: white;
  color:black;
  margin-right:80px;
}


.nvidia{
  background-color: white;
  color:black;
  height:500px; 
  padding-bottom:50px;
  margin-left:10px;
  margin-bottom: -100px;;
}
.nvidia h1{
  margin-left:1100px;
  padding-top:20px;
  font-size:50px;
}
.nvidia img{
  height: 552px;
margin-left:0px;
margin-top:-125px;
  position: relative;
}
.nvidia ul{
  position:absolute;
  margin-top:-470px;
}
.nvidia ul li{
  list-style: circle;
  list-style-type: style black;
  position:relative;
  margin-top:30px;
  color:rgb(0, 0, 0);
  margin-left:1100px;
  font-size:22px;
}

.footer-2 {
  margin-left:45px;
  margin-top:-280px;
  margin-bottom:-25px;
} 
nav.nav3{
  position: relative;
  margin-top: 0px;
}


section.sections-1{
  position: relative;
  height: 1000px;
}
section.sections-1 h1{
  text-align: center;
  font-family: 'Nova Square', sans-serif;
  font-size:50px;
  position: relative;
  margin-top:10px;
}
section.sections-1 .section-container-1 {
  position: absolute;
  margin-top:-350px;
  margin-left:350px;
}
section.sections-1 .section-container-2{
  position: absolute;
  margin-top:-350px;
  margin-left:1000px;
}
section.sections-1 .section-container-1 p,section.sections-1 .section-container-2 p{
/* width:500px; */
font-size:22px;
font-family: 'Nova Square', sans-serif;
}
section.sections-1 .section-container-1 h1,section.sections-1 .section-container-2 h1{
  position: relative;
}


.section-2{
  margin-top:-35px;
  position: absolute;
  box-shadow: 0 0 1000px rgba(0,0,0,0.9) inset;
}
.section-2 img{
  box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;
}
.video-3{
  position:relative;
}
.video-3 video{
  position: absolute;
  margin-top:-1100px;
  margin-left:470px;
  height:1000px;
  width:1000px;
}
.section-2 .head-section{
  position:absolute;
  margin-top:-330px;
  text-align:center;
  font-size:30px;
  margin-left:-140px;
  font-family: 'Nova Square', sans-serif;
}
.head-section h2{
  margin-left:280px;
  font-family: 'Nova Square', sans-serif;
}
.section-2 .head-section p{

  padding-left:500px;
  padding-right:100px;
  font-family: 'Nova Square', sans-serif;
}
.section-3{
  position: relative;
  display:grid;
  place-items:center;
  align-content: center;
  min-height: 100vh;
  margin-top:785px;
}
.section-3 img{
  position: relative;
  height: 650px;
  width:1900px;
}
.section-3 h1{
  position:absolute;
  margin-top:-100px;  
  font-size:40px;
  font-family: 'Nova Square', sans-serif;
}

.section-3 .details{
  position:absolute;
  margin-left:1000px;
}
.section-3 .details li{
  padding-bottom:7px;
  font-size:30px;
  font-family: 'Nova Square', sans-serif;
}

.section-4{
  position:relative;
  margin-top:-200px;
  
}
.section-4 img{
  height: 1200px;
  width:1900px;

}
.section-4 h1{
  position: relative;
  font-size:40px;
  background-color: white;
  color:black;
  text-align: center;
  padding-top:50px;
  padding-bottom:50px;
  padding-left:110px;
  margin-left:10px;
  margin-top:-1210px;
  font-family: 'Nova Square', sans-serif;
}
.section-4 video{
  margin-top:20px;
  width:1000px;
  margin-left:490px;
  padding-bottom:50px;
}
.vignette {
  position: absolute;
  top: 0;
  left: 0;
  height: 1200px;
  width: 1900px;
  background: radial-gradient(circle, transparent 70%, black 100%);
}
.section .list{
  position: relative;
  
  
}
.section-4 li{
  font-size:30px;
  
  padding:10px 50px 50px 50px;
  margin-left:60px;
  font-family: 'Nova Square', sans-serif;
}

.container-5{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  
}
.container-5 img{
  height: 1000px;
  width:1900px;
}
.animated {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

/* Fade-in animation */
.fade-in {
  opacity: 1;
  transform: translateY(0);
}


.vignette-2{
  position: absolute;
  top: 0;
  left: 0;
  height: 1200px;
  width: 1900px;
  background: radial-gradient(circle, rgba(0,0,0,0.1825105042016807) 0%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
}


.box-5,.box-6,.box-7,.box-8{
  user-select: none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  margin-left:-1000px;
  position: absolute;
  height: 600px;
  margin-left:100px;
  /* padding:30px 0px 30px 30px ; */
  margin-right:100px; 
}

.box-6{
  margin-left:550px;
}
.box-7{
  margin-left:1020px;
}
.box-8{
  margin-left:1470px;
}
.box-5 hr,.box-6 hr,.box-7 hr,.box-8 hr{
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}
.box-5 ins ,.box-6 ins,.box-7 ins.box-8 ins{
  position: relative;
  text-decoration: none;
}
.box-5 .inside ,.box-6 .inside,.box-7 .inside,.box-8 .inside{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}
.box-5 .inside .tokenImage ,.box-6 .inside .tokenImage,.box-7 .inside .tokenImage,.box-8 .inside .tokenImage {
  position: relative;
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
.box-5 .inside .description,.box-6 .inside .description,.box-7 .inside .description,.box-8 .inside .description {
  position: relative;
  margin: 0.5rem 0;
  color: #a89ec9;
}
.box-5 .inside .tokenInfo,.box-6 .inside .tokenInfo{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:23px;
}
.box-7 .inside .tokenInfo,.box-8 .inside .tokenInfo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-5 .inside .tokenInfo .price,.box-6 .inside .tokenInfo .price,.box-7 .inside .tokenInfo .price,.box-8 .inside .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ff8400;
  font-weight: 700;
}
.box-5 .inside .tokenInfo .price ins,.box-6 .inside .tokenInfo .price ins,.box-7 .inside .tokenInfo .price ins,.box-8 .inside .tokenInfo .price ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
}


.box-5 ::before,.box-6 ::before,.box-7 ::before,.box-8 ::before  {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.box-5:hover ,.box-6:hover,.box-7:hover,.box-8:hover{
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}
.box-5:hover ::before,.box-6:hover ::before,.box-7:hover ::before,.box-8:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}






.support-us{
  position:absolute;
  margin-top:1500px;
  margin-left:800px;
}
.supp






.footer-3{
  position: relative;
  margin-top:1000px;
  margin-left:45px;
}
.footer-4{
  position:absolute;
  margin-top:1000px;
  margin-left:50px;
}
.footer-4 img{
  height: 70px;
  width:100px;
  position:relative;
}